{% trans_default_domain 'Timetable' %}

<div class="flex flex-wrap rounded border bg-gray-100 mb-3">
    <div class="w-full p-2 border-b -mb-px sm:w-1/2 lg:w-1/3" style="">
        <span class="block text-sm text-gray-700 font-bold mb-1">{{ 'Timetable'|trans }}</span>
        <span class="block text-xs text-gray-700 ">{{ period.timetableDay.timetable.name }}</span>
    </div>
    <div class="w-full p-2 border-b -mb-px sm:w-1/2 lg:w-1/3" style="">
        <span class="block text-sm text-gray-700 font-bold mb-1">{{ 'Day'|trans }}</span>
        <span class="block text-xs text-gray-700 ">{{ period.timetableDay.name }}</span>
    </div>
    <div class="w-full p-2 border-b -mb-px sm:w-1/2 lg:w-1/3" style="">
        <span class="block text-sm text-gray-700 font-bold mb-1">{{ 'Period'|trans }}</span>
        <span class="block text-xs text-gray-700 ">{{ period.name }}</span>
    </div>
</div>