{% trans_default_domain 'Timetable' %}

<h4 class="pt-5 clear-both">{{ 'Timetable Mapping Instructions'|trans }}</h4>
<p>{{ 'Building a timetable is always a test of your patients. Kookaburra uses a mix of Columns and Days.  Columns define the how the lessons (periods) are spread across one or more week. The simplest process would be ' }}</p>
<h5>{{ 'Fixed'|trans }}</h5>
<p>{{ 'Stuff about fixed' }}</p>
<h5>{{ 'Rotate'|trans }}</h5>
<p>{{ 'Stuff about Rotate' }}</p>
