{% trans_default_domain 'messages' %}

{% block full_document %}
    <!DOCTYPE html>
    <html>
        <head>
            {% block meta %}
                <title>{% block title %}Kookaburra{% endblock %}</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
                <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
                <meta http-equiv="content-language" content="{{ locale|default('en_GB') }}" data-react-helmet="true" />
                <meta name="author" content="Craig Rayner, Hill Range Services"/>
                <meta name="robots" content="none"/>
                <meta name="Referrer‐Policy" value="no‐referrer | same‐origin"/>
                <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
                <link href="{{ asset('css/FontAwesome/all.min.css') }}" rel="stylesheet">
            {% endblock meta %}
        </head>
        <body>
            <div id="wrapOuter" class="sm:px-6">{% block content %}{% endblock content %}</div>
            <div id="idleTimeout"></div>
            <script type="application/javascript" lang="js">
                {% block scripts %}
                {% for style in page.pageStyles %}
                    {% set link = encore_entry_css_files(style) %}
                    {% for css in link %}
                        newLink = document.createElement("link");
                        newLink.href = '{{ asset(css) }}'
                        newLink.rel = 'stylesheet'
                        newLink.type = 'text/css'
                        newLink.media = 'screen'
                        document.head.appendChild(newLink)
                    {% endfor %}
                {% endfor %}
                window.PAGE_PROPS = {{ page.writeProperties()|json_encode|raw }}
                {% if app.user %}
                    window.IDLETIMEOUT_PROPS = {{ page.writeIdleTimeout()|json_encode|raw }}
                    {% if page.popup is same as(false) %}
                        window.FASTFINDER_PROPS = {{ page.writeFastFinder()|json_encode|raw }}
                    {% endif %}
                {% endif %}
                {% endblock scripts %}
            </script>

            {% set x = page.writeProperties() %}
            {{ encore_entry_script_tags('page') }}
            {% if app.user %}
                {{ encore_entry_script_tags('idleTimeout') }}
                {% if page.popup is same as(false) %}
                    {{ encore_entry_script_tags('fastFinder') }}
                    {{ encore_entry_script_tags('notificationTray') }}
                {% endif %}
            {% endif %}
            {% for script in page.pageScripts %}
                {% include script.script with script.options %}
            {% endfor %}
        </body>
    </html>
{% endblock full_document %}
