<div class="{{ warning.level }}">
    {% if warning.link is not same as('') %}
        <a href="{{ warning.link }}" title="{{ warning.title }}">{{ warning.label }}</a>
    {% else %}
        <span title="{{ warning.title }}">{{ warning.label }}</span>
    {% endif %}
    {% if warning.content is not null %}
        {{ warning.content|raw }}
    {% endif %}
</div>