{% trans_default_domain "Attendance" %}

<div class="text-center py-2 px-1 -mr-px -mb-px flex flex-col justify-between w-1/2 sm:w-1/4 md:w-1/5 lg:w-1/4">
    <div class=" mb-1">
        <a href="index.php?q=/modules/Students/student_view_details.php&amp;gibbonPersonID=0000002746&amp;subpage=Attendance">
            <img class="inline-block shadow bg-white border border-gray-600 w-20 lg:w-24 p-1" src="{{ asset(person.photo) }}">
        </a>
    </div>
    <div class="pt-2 font-bold underline mb-1">
        <a href="index.php?q=/modules/Students/student_view_details.php&amp;gibbonPersonID=0000002746&amp;subpage=Attendance" class="pt-2 font-bold underline">{{ person.full_name }}</a>
    </div>
    <div class=" mb-1">
        <div class="text-xxs italic py-2">{{ 'Days Absent'|trans({count: person.absentCount|default(0)}) }}</div>
    </div>
    <div class="mx-auto float-none w-32 m-0 mb-px mb-1">
        <div class="flex-1 relative">
            <select id="{{ 'attendance_roll_group_students_' ~ person.id ~ '_code' }}" name="{{ 'attendance_roll_group[students][' ~ person.id ~ '][code]' }}" class="mx-auto float-none w-32 m-0 mb-px">
                {% for id,name in pagination.getContext('Code Select') %}
                    {% set selected  = '' %}
                    {% if person.code|default('') is same as(name) %}
                        {% set selected  = ' selected' %}
                    {% endif %}
                    <option value="{{ id }}"{{ selected }}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="mx-auto float-none w-32 m-0 mb-px mb-1">
        <div class="flex-1 relative">
            <select id="{{ 'attendance_roll_group_students_' ~ person.id ~ '_reason' }}" name="{{ 'attendance_roll_group[students][' ~ person.id ~ '][reason]' }}" class="mx-auto float-none w-32 m-0 mb-px">
                <option/>
                {% for name in pagination.getContext('Reason Select') %}
                    {% set selected  = '' %}
                    {% if person.reason|default('') is same as(name) %}
                        {% set selected  = ' selected' %}
                    {% endif %}
                    <option value="{{ name }}"{{ selected }}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="mx-auto float-none w-32 m-0 mb-2 mb-1">
        <div class="flex-1 relative">
            <input type="text" id="{{ 'attendance_roll_group_students' ~ person.id ~ '_comment' }}" name="{{ 'attendance_roll_group[students][' ~ person.id ~ '][comment]' }}" class="mx-auto float-none w-32 m-0 mb-2" maxlength="191" value="{{ person.comment|default('') }}">
            <input type="hidden" id="{{ 'attendance_roll_group_students' ~ person.id ~ '_student' }}" name="{{ 'attendance_roll_group[students][' ~ person.id ~ '][student]' }}" class="mx-auto float-none w-32 m-0 mb-2" value="{{ person.id }}">
        </div>
    </div>
    <div class=" mb-1">
        {% set times = pagination.getContext('Previous Days') %}
        {% if times|length > 1 %}
            {% for timePeriod in times %}
                <div class="historyCalendarMini">
                    <div class="highlightNoData w-1/6 float-left text-xxs">
                        <span title="{{ timePeriod['name'] }}">{{ timePeriod['name'] }}</span>
                    </div>
                    {% for day in timePeriod['days'] %}
                        {% set status = person[timePeriod['name']][day.date]  %}
                        <div class="{{ status.className }} w-1/6 float-left text-xxs">
                            <a href="./index.php?q=/modules/Attendance/attendance_take_byPerson.php&amp;gibbonPersonID=0000002746&amp;currentDate={{ day.date|date('Y-m-d') }}" title="{{ status.status }}">{{ day.date|date('d') }}<br><span>{{ day.date|date('M') }}</span></a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <div class="historyCalendarMini">
                {% set timePeriod = pagination.getContext('Previous Days')|first %}
                {% for day in timePeriod['days'] %}
                    {% set status = person['all_day'][day.date]  %}
                    <div class="{{ status.className }} w-1/5 float-left text-xxs">
                        <a href="./index.php?q=/modules/Attendance/attendance_take_byPerson.php&amp;gibbonPersonID=0000002746&amp;currentDate={{ day.date|date('Y-m-d') }}" title="{{ status.status }}">{{ day.date|date('d') }}<br><span>{{ day.date|date('M') }}</span></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
