{% trans_default_domain 'Attendance' %}


{% if manager.isValid() is same as(true) %}
    <form id="attendance_roll_group" method="post" action="{{ path('attendance_roll_group_post_api', {rollGroup: manager.rollGroup.id, date: manager.date|date('Y-m-d'), dailyTime: manager.dailyTime}) }}">
        <div class="{{ manager.statusMessage.status }}">{{ manager.statusMessage.message|trans({date: manager.date|date, dailyTime: manager.dailyTime }) }}</div>
        <div id="attendance" class="w-full flex flex-wrap items-stretch">
            {% for person in pagination.content %}
                {% include 'attendance/attendance_person_details.html.twig' %}
            {% endfor %}
        </div>
        <div class="w-full"">
            <div class="float-right">
                <input type="hidden" name="attendance_roll_group[_token]" id="attendance_roll_group__token" value="{{ csrf_token('attendance_roll_group') }}"/>
                <input type="hidden" name="attendance_roll_group[rollGroup]" id="attendance_roll_group_rollGroup" value="{{ manager.rollGroup.id }}"/>
                <input type="hidden" name="attendance_roll_group[date]" id="attendance_roll_group_date" value="{{ manager.date|date('Y-m-d') }}"/>
                <input type="hidden" name="attendance_roll_group[dailyTime]" id="attendance_roll_group_time" value="{{ manager.dailyTime }}"/>
                <button id="attendance_roll_group_submit" name="attendance_roll_group[submit]" type="submit" title="{{ 'Submit'|trans({},'messages') }}"><span class="far fa-save fa-fw"></span></button>
            </div>
        </div>
    </form>
{% else %}
    <div class="{{ manager.statusMessage.status }}">{{ manager.statusMessage.message|trans({date: manager.date|date, dailyTime: manager.dailyTime }) }}</div>
{% endif %}
{% dump(manager) %}{% dump(manager.isValid()) %}