{% trans_default_domain 'System' %}

<h2>{{ 'Installation - Step {step}'|trans({'{step}': '2'}) }}</h2>
{% if proceed is not same as('proceed') %}
    <p class="warning">{{ 'database_build_warning'|trans }}</p>
{% else %}
    <p class="relative w-full info">{{ 'database_build_ready'|trans }}
    <button class="p-2 relative bg-blue-800 text-blue-200 float-right" id="my_sql_proceed" name="my_sql_proceed" type="button" style="margin-top: -7px;" data-Click="true" data-url="{{ path('installation_table_create') }}" data-function="getContent">{{ 'Proceed'|trans }} <span class="far fa-hand-point-right fa-fw"></span></button></p>
{% endif %}
{% if message is defined and message is iterable %}
    <div class="{{ message.class }}">{{ message.message|trans }}</div>
{% endif %}

